<div class="fade-in">
    <c-card>
        <c-card-header>
            <h4><b>Fees Installment</b></h4>
        </c-card-header>
        <c-card-body>
            <c-nav variant="tabs">
                <c-nav-item>
                    <a [active]="currentactive" [cTabContent]="tabContent" [tabPaneIdx]="0" cNavLink>
                        Fees Installment
                    </a>
                </c-nav-item>
                <c-nav-item>
                    <a [cTabContent]="tabContent" [tabPaneIdx]="1" cNavLink>
                        Activate Installment
                    </a>
                </c-nav-item>
            </c-nav>
            <c-tab-content #tabContent="cTabContent">
                <c-tab-pane class="p-3">
                    <form cForm [formGroup]="installmentForm"
                          (keydown.enter)="$event.preventDefault()">
                        <c-row>
                            <c-col [md]="6">
                                <label for="batchname">Batch Code:</label>
                                <div id="batchname" class="ng-autocomplete" style="width: 100%;">
                                    <ng-autocomplete
                                            id="batchname"
                                            formControlName="batchname"
                                            [data]="Batchs" [searchKeyword]="Batchkeyword"
                                            (selected)='selectBatch($event)'
                                            (inputChanged)='onChangeSearch($event)'
                                            [itemTemplate]="batTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            placeholder="Select Batch">
                                    </ng-autocomplete>

                                    <ng-template #batTemplate let-bat>
                                        <a [innerHTML]="bat.Batch_Name"></a>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                            </c-col>

                            <c-col [md]="6">
                                <label for="Term_Name">Term Code:</label>
                                <select
                                        cSelect
                                        id="Term_Name"
                                        [(ngModel)]="SelectedTerm"
                                        name="termselect"
                                        formControlName="termname"
                                        (change)="onChangeTermSelect()">
                                    <option *ngFor="let term of Terms"
                                            [ngValue]="term">{{term.Term_Name}}
                                    </option>
                                </select>
                                <span
                                        *ngIf="installmentForm.get('termname')?.invalid
                                        && installmentForm.get('termname')?.touched"
                                        class="text-danger">Term is required</span>
                            </c-col>
                            <c-col [md]="3">
                                <label for="installment">Installment:</label>
                                <select
                                        cSelect
                                        id="installment"
                                        [(ngModel)]="SelectedInstallments"
                                        name="installmentselect"
                                        formControlName="installment"
                                        (change)="onChangeInstallmentSelect()">
                                    <option *ngFor="let install of installment" [ngValue]="install"
                                            >{{install.name}}
                                    </option>
                                </select>
                                <span
                                        *ngIf="installmentForm.get('installment')?.invalid
                        && installmentForm.get('installment')?.touched"
                                        class="text-danger">Installment is required</span>
                            </c-col>

                            <c-col [md]="3">
                                <label for="feesname">Fees Head:</label>
                                <select
                                        cSelect
                                        id="feesname"
                                        [(ngModel)]="SelectedFees"
                                        formControlName="feesname"
                                >
                                    <option *ngFor="let fees of Fees"
                                            [ngValue]="fees">{{fees.Fees_Name}}</option>
                                </select>
                                <span
                                        *ngIf="installmentForm.get('feesname')?.invalid
                        && installmentForm.get('feesname')?.touched"
                                        class="text-danger">Fees is required</span>
                            </c-col>
                            <c-col [md]="2">
                                <label for="amount">Amount:</label>
                                <input id="amount"
                                       cFormControl
                                       type="number"
                                       formControlName="amount"
                                       [(ngModel)]="amount"
                                       name="amount"
                                       placeholder="EnterAmount">
                                <span
                                        *ngIf="installmentForm.get('amount')?.invalid
                        && installmentForm.get('amount')?.touched"
                                        class="text-danger">Amount is required</span>
                            </c-col>

                            <c-col [md]="2" style="padding-top: 25px;">
                                <button cButton type="submit"
                                        [disabled]="installmentForm.invalid"
                                        size="md"
                                        class="btn btn-info"
                                        (click)="CreateInstallments()">Save&nbsp;
                                </button>
                            </c-col>
                            <c-col [md]="2" style="padding-top: 25px;">
                                <button cButton (click)="GetInstallments()" size="md"
                                        class="btn btn-danger">Refresh
                                </button>
                            </c-col>
                        </c-row>
                    </form>

                    <form cForm [formGroup]="DownloadUploadForm" (keydown.enter)="$event.preventDefault()">
                        <c-row>
                            <c-col [md]="4">
                                <h6>Upload Image</h6>
                                <input aria-label="file example"
                                       cFormControl
                                       id="validationText1"
                                       type="file"
                                       (change)="xlsxUpload($event)"

                                />
                                <c-form-feedback [valid]="false">Example invalid form file feedback</c-form-feedback>
                            </c-col>

                            <c-col [md]="2" style="padding-top: 27px;">
                                <button cButton type="submit" size="md" class="btn btn-success"
                                        (click)="UploadInstallment()">
                                    <!--                  <i style="border-color: white;" class="spinner-border text-primary" role="status"-->
                                    <!--                     *ngIf="loader"></i>-->
                                    <c-spinner *ngIf="loader" aria-hidden="false" size="sm"></c-spinner>
                                    Upload
                                </button>
                            </c-col>

                        </c-row>
                    </form>
                    <c-col [md]="2" style="padding-top: 30px;">
                        <button cButton type="submit"
                                (click)="DownloadInstallment()"
                                class="btn btn-info">
                            <!--              <i-->
                            <!--              style="border-color: white;"-->
                            <!--              class="spinner-border text-primary"-->
                            <!--              role="status"-->
                            <!--              *ngIf="Downloadloader"></i>&nbsp;-->
                            <c-spinner *ngIf="Downloadloader" size="sm"></c-spinner>
                            Download
                        </button>

                    </c-col>

                    <c-row>
                        <c-col [md]="12" style="padding-top: 20px;">
                            <form cForm class="d-flex" role="search">

                                <c-input-group class="mb-3">
                                    <span cInputGroupText id="basic-addonnew">Search</span>
                                    <input aria-describedby="basic-addonnew"
                                           aria-label="Username"
                                           cFormControl
                                           placeholder="Search here"
                                           [(ngModel)]="searchValue"
                                           name="Value"
                                           (keyup)="quickSearch()"
                                    />
                                </c-input-group>
                            </form>
                        </c-col>
                    </c-row>

                    <c-card-body>
                        <ag-grid-angular
                                style="width: 100%; height: 300px;"
                                class="ag-theme-alpine"
                                [rowData]="installment_rows"
                                [gridOptions]="installment_gridOptions"
                                [columnDefs]="installment_columnDefs"
                                (gridReady)="onGridReady_installment($event)"
                                (rowSelected)="onRowSelectedEvent_installment($event)"
                                [pagination]="true"
                                [paginationPageSize]="paginationPageSize_installment"
                                (selectionChanged)="onSelectionChanged($event)">
                        </ag-grid-angular>
                        <br>

                        <c-row>
                            <div class="col-md-1.5" style="padding-left: 20px;padding-top: 5px;">
                                Page Size:
                            </div>
                            <c-col [md]="1">
                                <select class="form-control" (change)="onPageSizeChanged()" id="page-size">
                                    <option value="10" selected="">10</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                </select>
                            </c-col>
                          <c-col [md]="1"></c-col>
                            <c-col [md]="2" style="font-size: 20px;">
                                <label><b>Total Amount&nbsp;(₹) is:</b></label>
                            </c-col>
                            <c-col [md]="2" style="font-size: 20px;">
                                <label><b>{{total}}</b></label>
                            </c-col>
                            <!-- <c-col [md]="2">
                    <input style="font-weight: bold;font-size: 20px;background-color: white;" type="text" class="form-control" readonly
                        [(ngModel)]="total">
                </div> -->
                        </c-row>
                    </c-card-body>
                </c-tab-pane>
                <c-tab-pane class="p-3">

                    <form cForm [formGroup]="feesAttachmentForm"
                          (keydown.enter)="$event.preventDefault()"
                          (ngSubmit)="OnUpdate()">

                        <c-row>
                            <c-col [md]="6">
                                <label for="Batch_Code">Batch:</label>
                                <div class="ng-autocomplete" id="Batch_Code" style="width: 100%;">
                                    <ng-autocomplete

                                            formControlName="Batch"
                                            [data]="Batchs"
                                            [searchKeyword]="Batchkeyword"
                                            (selected)='selectAtBatch($event)'
                                            (inputChanged)='onChangeSearch($event)'
                                            [itemTemplate]="batTemplate"
                                            [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>

                                    <ng-template #batTemplate let-bat>
                                        <a [innerHTML]="bat.Batch_Name"></a>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                            </c-col>

                            <c-col [md]="4">
                                <label for="Term_Name">Term Name:</label>
                                <select
                                        cSelect
                                        [(ngModel)]="SelectedTerm"
                                        name="termselect"
                                        formControlName="Term_Name"
                                        (change)="onChangeTermSelect()">
                                    <option *ngFor="let term of Terms"
                                            [ngValue]="term">{{term.Term_Name}}
                                    </option>
                                </select>
                                <span
                                        *ngIf="feesAttachmentForm.get('Term_Name')?.invalid && feesAttachmentForm.get('Term_Name')?.touched"
                                        class="text-danger">Term Name is required</span>
                            </c-col>
                            <c-col [md]="2" style="padding-top: 25px;">
                                <button cButton type="button" size="md" class="btn btn-info"
                                        (click)="ShowInstallmentDetails()">
                                    <c-spinner *ngIf="Showloader" aria-hidden="false" size="sm"></c-spinner>
                                    Show
                                </button>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col [md]="3">
                                <label for="installmentactivedeactive">Installment:</label>
                                <select
                                        cSelect
                                        id="installmentactivedeactive"
                                        [(ngModel)]="SelectedInstallments"
                                        name="installmentselect"
                                        formControlName="installmentactivedeactive"
                                        (change) ="onChangeInstallmentSelectactive()">
                                    <option *ngFor="let install of installment"
                                            [ngValue]="install">{{install.name}}
                                    </option>
                                </select>
                                <span
                                        *ngIf="feesAttachmentForm.get('installment')?.invalid && feesAttachmentForm.get('installment')?.touched"
                                        class="text-danger">installment is required</span>

                            </c-col>
                            <c-col [md]="3">
                                <label for="active_deactive">Active / Deactive:</label>
                                <select
                                        cSelect
                                        id="active_deactive"
                                        [(ngModel)]="SelectedActiveDeactive"
                                        name="actdeactselect"
                                        formControlName="active_deactive"
                                        (change)="onChangeActiveDeactiveSelect()">
                                    <option *ngFor="let actdeact of ActiveDeactive"
                                            [ngValue]="actdeact">
                                        {{actdeact.name}}
                                    </option>
                                </select>
                                <span
                                        *ngIf="feesAttachmentForm.get('active_deactive')?.invalid && feesAttachmentForm.get('active_deactive')?.touched"
                                        class="text-danger">Field is required</span>
                            </c-col>
                            <c-col [md]="2" style="padding-top: 25px;">
                                <button cButton type="submit" [disabled]="feesAttachmentForm.invalid" size="md"
                                        class="btn btn-info">Update
                                </button>
                            </c-col>
                        </c-row>
                    </form>
                    <c-row>
                        <c-col [md]="12" style="padding-top: 20px;">
                            <!--                    <form cForm class="d-flex" role="search">-->
                            <!--          <div class="input-group">-->
                            <!--            <div class="input-group-prepend">-->
                            <!--              <span class="input-group-text"><i class="cil-search"></i></span>-->
                            <!--            </div>-->
                            <!--            <input cInput cFormControl placeholder="Search Here" (keyup)="quickSearch()" [(ngModel)]="searchValue">-->
                            <!--          </div>-->
                            <c-input-group class="mb-3">
                                <span cInputGroupText id="basic-addon1">Search</span>
                                <input aria-describedby="basic-addon1"
                                       aria-label="Username"
                                       cFormControl
                                       placeholder="Search here"
                                       [(ngModel)]="searchValue"
                                       name="Value"
                                       (keyup)="quickSearch()"
                                />
                            </c-input-group>
                            <!--                    </form>-->
                        </c-col>
                    </c-row>
                    <ag-grid-angular style="width: 100%; height: 300px;"
                                     class="ag-theme-alpine"
                                     [rowData]="rowss1"
                                     [gridOptions]="active_gridOptions"
                                     [columnDefs]="active_columnDefs"
                                     (gridReady)="onGridReady_active($event)"
                                     [pagination]="true"
                                     [paginationPageSize]="paginationPageSize_active">
                    </ag-grid-angular>
                    <br/>
                </c-tab-pane>
            </c-tab-content>
        </c-card-body>
    </c-card>
</div>
