<!-- <div>
    <h3>Outside Students</h3>
    <hr>
</div> -->

<div class="fade-in">
    <c-card>
        <c-card-header>
            <h4><b>Outside Students</b></h4>
        </c-card-header>
        <c-card-body>
            <form cForm [formGroup]="OutsideStudentsForm"
                  (keydown.enter)="$event.preventDefault()"
                (ngSubmit)="ShowStudents()">
                <c-row>
                    <c-col [md]="6">
                        <label for="batchcode">Select Batch:</label>
                        <div id="batchcode" class="ng-autocomplete" style="width: 100%;">
                            <ng-autocomplete [data]="Batchs" [searchKeyword]="Batchkeyword"
                                (selected)='selectBatch($event)' (inputChanged)='onChangeSearch($event)'
                                (inputFocused)='onFocused($event)' [itemTemplate]="batTemplate"
                                [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>

                            <ng-template #batTemplate let-bat>
                                <a [innerHTML]="bat.Batch_Name"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>

                    </c-col>

                    <c-col [md]="4">
                        <label for="fromdate">Select Date:</label>
                        <input id="fromdate" type="date" formControlName="fromdate" class="form-control">
<!--                        <span-->
<!--                            *ngIf="OutsideStudentsForm.get('fromdate')?.invalid && OutsideStudentsForm.get('fromdate')?.touched"-->
<!--                            class="text-danger">Date is required</span>-->
                    </c-col>
                    <c-col [md]="2" style="padding-top: 24px;">
                        <button cButton type="submit"  size="md"
                            class="btn btn-info">
                            <c-spinner  *ngIf="showloader" aria-hidden="false" size="sm"></c-spinner>
                            Show
                        </button>
                    </c-col>
                </c-row>
            </form>


            <c-row>
                <c-col [md]="12" style="padding-top: 20px;">
                    <!--                    <form cForm class="d-flex" role="search">-->
                    <!--          <div class="input-group">-->
                    <!--            <div class="input-group-prepend">-->
                    <!--              <span class="input-group-text"><i class="cil-search"></i></span>-->
                    <!--            </div>-->
                    <!--            <input cInput cFormControl placeholder="Search Here" (keyup)="quickSearch()" [(ngModel)]="searchValue">-->
                    <!--          </div>-->
                    <c-input-group class="mb-3">
                        <span cInputGroupText id="basic-addon1">Search</span>
                        <input aria-describedby="basic-addon1"
                               aria-label="Username"
                               cFormControl
                               placeholder="Search here"
                               [(ngModel)]="searchValue"
                               (keyup)="quickSearch()"
                        />
                    </c-input-group>
                    <!--                    </form>-->
                </c-col>
            </c-row>
            <br />

            <ag-grid-angular style="width: 100%; height: 350px;" class="ag-theme-alpine"
                             [rowData]="rowss"
                             [gridOptions]="gridOptions"
                             [columnDefs]="columnDefs"
                             [pagination]="true" [paginationPageSize]="10"
                             (gridReady)="onGridReady($event)"
                             [rowSelection]='rowSelection'
                             (rowSelected)="onRowSelectedEvent($event)"
                             (selectionChanged)="onSelectionChanged($event)">
            </ag-grid-angular>
        </c-card-body>
    </c-card>
</div>
