.form-control.ng-touched.ng-invalid{
    border:1px solid red;
}
.form-control.ng-touched.ng-valid{
    border:1px solid green;
}

//ag-grid
.ag-theme-balham .ag-header {
    background-color: #524ab8;
    color: rgb(243, 240, 240);
}

.ag-theme-balham .ag-header-row {
    color: rgb(226, 222, 222);
    color: var(--ag-header-foreground-color, var(--ag-secondary-foreground-color, rgb(243, 240, 240)));
    // height: 32px;
}

.ag-theme-balham .ag-row-selected {
    border-color: #dadada !important;
    background-color: #dadada;
}

.ag-theme-balham .ag-ltr .ag-cell-focus {
    border: 1px solid #113f67 !important;
}

.ag-theme-balham {
    font-family: 'Roboto', sans-serif !important;
}

.ag-theme-balham .ag-header-icon {
    color: rgb(255, 253, 253);
    color: var(--ag-secondary-foreground-color, rgb(255, 253, 253));
}

.ng-autocomplete {
    width: 100%;
    }
    
    .ng-autocomplete ::ng-deep .autocomplete-container {
    box-shadow: none;
    }
    
    .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
    font-size: 0.875rem;
    display: block;
    height: 2.1875rem;
    padding: 0.375rem 1rem;
    font-weight: 400;
    line-height: 1.52857143;
    color: #495057;
    border: 1px solid #dde6e9;
    border-radius: 0.25rem;
    }
    
    // .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .suggestions-container ::ng-deep .item ::ng-deep .row {
    // padding: 0.5rem 1rem;
    // }
    
    // .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .not-found {
    // border: 0;
    // }
    button{
        width: 100%;
    }  