  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  th {
    // background-color: #524ab8;
    background-color: #39f;
    color: white;
  }

  td,
  th,
  span {
    // border: 1px solid #dddddd;
    border: 1px solid grey;
    text-align: left;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
  }

  // tr:nth-child(even) {
  //   // background-color: #dddddd;
  //   background-color: yellow;
  // }
  p {
    font-weight: bold;
    // font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .ng-autocomplete {
    width: 100%;
  }

  .ng-autocomplete ::ng-deep .autocomplete-container {
    box-shadow: none;
  }

  .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
    font-size: 0.875rem;
    display: block;
    height: 2.1875rem;
    padding: 0.375rem 1rem;
    font-weight: 400;
    line-height: 1.52857143;
    color: #495057;
    border: 1px solid #dde6e9;
    border-radius: 0.25rem;
  }

  // .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .suggestions-container ::ng-deep .item ::ng-deep .row {
  // padding: 0.5rem 1rem;
  // }

  // .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .not-found {
  // border: 0;
  // }
  button {
    width: 100%;
  }

  ::ng-deep .ngxImageZoomContainer {
    width: 400px;
    height: 420px;
    margin-left: 30px;
  }

  .img {
    width: 50px;
    height: 100px;
    margin-left: 30px;
    object-fit: contain;
      }

  .ngxImageZoomThumbnail[_ngcontent-ng-c3040328722]{
    width: 100%;
  }

  //zoom container
  //img{
  //  transform: scale(1.5);
  //}
  //* {box-sizing: border-box;}
  //
  //.img-zoom-container {
  //  position: relative;
  //}
  //
  //.img-zoom-lens {
  //  position: absolute;
  //  border: 1px solid #d4d4d4;
  //  /*set the size of the lens:*/
  //  width: 40px;
  //  height: 40px;
  //}
  //
  //.img-zoom-result {
  //  border: 1px solid #d4d4d4;
  //  /*set the size of the result div:*/
  //  width: 300px;
  //  height: 300px;
  //}

