<div class="fade-in">
    <c-card>
        <c-card-header>
            <h4><b>Admission Release</b></h4>
        </c-card-header>
        <c-card-body>
            <c-row>
                <c-input-group class="mb-12" style="padding-top: 20px;">
                    <span cInputGroupText id="basic-addon1">Search</span>
                    <input aria-describedby="basic-addon1"
                           aria-label="Username"
                           cFormControl
                           (keyup)="quickSearch()"
                           placeholder="Search here"
                           [(ngModel)]="searchValue"
                    />
                </c-input-group>
            </c-row>
            <br/>
            <hr/>
            <h4 style="color:red">Note:</h4>
            <h5><b>0 =</b> Admission Closed and <b>1 =</b> Admission Started</h5>
            <hr/>

            <ag-grid-angular
                    style="width: 100%; height: 300px;"
                    class="ag-theme-alpine"
                    [rowData]="showbatchlist"
                    [gridOptions]="gridOptions"
                    [columnDefs]="columnDefs"
                    [pagination]="true"
                    [paginationPageSize]="10"
                    (gridReady)="onGridReady($event)"
                    [rowSelection]='rowSelection'
                    [cacheQuickFilter]="true"
                    (selectionChanged)="onSelectionChanged($event)">
            </ag-grid-angular>
        </c-card-body>

    </c-card>
</div>
