<c-modal
  #infoModal
  color="info"
  id="infoModal"
  size="xl"
  [visible]="infoModalvisible"
  backdrop="static"
>
  <c-modal-header>
    <h4 class="c-modal-title"></h4>
  </c-modal-header>
  <c-modal-body>
    <c-row>
      <div class="col-md-12 mb-4">
        <br />
        <form
          cForm
          [formGroup]="DocumentsectionForm"
          (keydown.enter)="$event.preventDefault()"
        >
          <c-row>
            <c-col [md]="1"></c-col>
            <c-col [md]="3">
              <button
                cButton
                class="btn btn-success"
                (click)="ApprovedDialog()"
              >
                Approve
              </button>
            </c-col>
            <c-col [md]="6">
              <select class="form-control" formControlName="reasons">
                <option value="" disabled>
                  <b>--Please Select Reason--</b>
                </option>
                <!-- <option>Approved</option> -->
                <option>Document not clear - upload again</option>
                <option>Invalid document - Upload again</option>
                <option>
                  Not eligible for the Course as per the eligibility criteria.
                </option>
                <option>
                  Name on Application and name on document are not not matching.
                </option>
                <option>Educational marks wrongly filled.</option>
              </select>
              <span
                *ngIf="
                  DocumentsectionForm.get('reasons')?.invalid &&
                  DocumentsectionForm.get('reasons')?.touched
                "
                class="text-danger"
                >Reason is required</span
              >
            </c-col>
            <c-col [md]="2">
              <button
                cButton
                type="submit"
                (click)="RejectedDialog()"
                [disabled]="DocumentsectionForm.invalid"
                class="btn btn-danger"
              >
                Reject
              </button>
            </c-col>
          </c-row>
        </form>
        <!-- </c-card-body> -->
        <br />

        <div class="container">
          <ag-grid-angular
            style="width: 100%; height: 200px"
            class="ag-theme-balham"
            [rowData]="rowData"
            [gridOptions]="gridOptions"
            [columnDefs]="columnData"
            (gridReady)="onGridReady($event)"
            (rowSelected)="onRowSelectedEvent1($event)"
            (selectionChanged)="onSelectionChanged1($event)"
          >
          </ag-grid-angular>
        </div>
        <br />
        <div class="container" *ngIf="showpdfbox">
          <div style="text-align: center">
            <button
              cButton
              class="btn btn-success"
              (click)="incrementZoom(0.1)"
            >
              <b>Zoom-In</b></button
            >&nbsp;&nbsp;

            <button
              cButton
              class="btn btn-success"
              (click)="incrementZoom(-0.1)"
            >
              <b>Zoom-Out</b></button
            >&nbsp;&nbsp;

            <button
              cButton
              type="button"
              class="btn btn-danger"
              (click)="ClosePdf()"
            >
              Close Pdf
            </button>
          </div>
          <br />
          <div class="pdf-container">
            <pdf-viewer
              [src]="pdfSrc"
              [render-text]="true"
              [(page)]="pageVariable"
              [show-all]="true"
              [stick-to-page]="true"
              [original-size]="false"
              [fit-to-page]="true"
              [zoom]="zoom"
              [autoresize]="true"
              [show-borders]="true"
              style="display: block"
            ></pdf-viewer>
          </div>
          <br />
          <!-- <div style="float: right;">
              <button cButton type="button" class="btn btn-danger" (click)="ClosePdf()">Close Pdf</button>
          </div> -->
        </div>
      </div>
    </c-row>
  </c-modal-body>
  <c-modal-footer>
    <button
      cButton
      (click)="toggleLiveDemo()"

      color="secondary"
      cButtonClose
    >
      Close
    </button>
  </c-modal-footer>
</c-modal>

<div class="fade-in">
  <c-card>
    <c-card-header>
      <h4><b>Marksheet Approval</b></h4>
    </c-card-header>
    <c-card-body>
      <form
        cForm
        [formGroup]="ApprovalForm"
        (keydown.enter)="$event.preventDefault()"
        (ngSubmit)="ShowApprove()"
      >
        <c-row>
          <c-col [md]="4">
            <label for="Batchs">Batch:</label>
            <div id="Batchs" class="ng-autocomplete" style="width: 100%">
              <ng-autocomplete
                [data]="Batchs"
                [searchKeyword]="Batchkeyword"
                (selected)="selectBatch($event)"
                (inputChanged)="onChangeSearch($event)"
                (inputFocused)="onFocused($event)"
                [itemTemplate]="batTemplate"
                [notFoundTemplate]="notFoundTemplate"
                placeholder="Select Batch"
                formControlName="Batchs"
              >
              </ng-autocomplete>

              <ng-template #batTemplate let-bat>
                <a [innerHTML]="bat.Batch_Name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </c-col>
          <c-col [md]="4">
            <label for="Admission_Status">Status:</label>
            <select
              id="Admission_Status"
              formControlName="Admission_Status"
              class="form-control"
            >
              <option value="PENDING">PENDING</option>
              <option value="APPROVED">APPROVED</option>
              <option value="REJECTED">REJECTED</option>
              <option value="FEES ATTACHED">FEES ATTACHED</option>
              <option value="FEES UNTAGED">FEES UNTAGED</option>
              <option value="CANCELLED">CANCELLED</option>
            </select>
            <span
              *ngIf="
                ApprovalForm.get('Admission_Status')?.invalid &&
                ApprovalForm.get('Admission_Status')?.touched
              "
              class="text-danger"
              >Status is required</span
            >
          </c-col>
          <c-col [md]="2" style="padding-top: 25px">
            <button
              cButton
              type="submit"
              [disabled]="ApprovalForm.invalid"
              size="md"
              class="btn btn-info"
            >
              &nbsp;&nbsp;&nbsp;&nbsp; Show &nbsp;&nbsp;&nbsp;&nbsp;
            </button>
          </c-col>
          <c-col [md]="2" style="padding-top: 25px">
            <button
              cButton
              type="submit"
              [disabled]="ApprovalForm.invalid"
              size="md"
              class="btn btn-danger"
              (click)="ResetMarksheetapproval()"
            >
              &nbsp;&nbsp;&nbsp;&nbsp; Reset &nbsp;&nbsp;&nbsp;&nbsp;
            </button>
          </c-col>
        </c-row>
      </form>

      <c-row>
        <c-col [md]="12" style="padding-top: 20px">
          <!--                    <form cForm class="d-flex" role="search">-->
          <!--          <div class="input-group">-->
          <!--            <div class="input-group-prepend">-->
          <!--              <span class="input-group-text"><i class="cil-search"></i></span>-->
          <!--            </div>-->
          <!--            <input cInput cFormControl placeholder="Search Here" (keyup)="quickSearch()" [(ngModel)]="searchValue">-->
          <!--          </div>-->
          <c-input-group class="mb-3">
            <span cInputGroupText id="basic-addon1">Search</span>
            <input
              aria-describedby="basic-addon1"
              aria-label="Username"
              cFormControl
              placeholder="Search here"
              [(ngModel)]="searchValue"
              (keyup)="quickSearch()"
            />
          </c-input-group>
          <!--                    </form>-->
        </c-col>
      </c-row>
      <br />

      <!-- [pagination]="true" [paginationPageSize]="10" -->
      <ag-grid-angular
        style="width: 100%; height: 300px"
        class="ag-theme-alpine"
        [rowData]="rowss"
        [gridOptions]="gridOptions"
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        (gridReady)="onGridReady($event)"
        (rowSelected)="onRowSelectedEvent($event)"
        (selectionChanged)="onSelectionChanged($event)"
      >
      </ag-grid-angular>

      <br />
      <c-row style="justify-content: center">
        <c-col [md]="2"></c-col>
        <c-col [md]="3">
          <button
            cButton
            type="button"
            class="btn btn-success"
            (click)="Viewmarksheet()"
          >
        

            &nbsp; View &nbsp;
          </button>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</div>
